* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: url(Background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.page-login {
  width: 420px;
  height: 440px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 2px solid rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(20px);
  color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
}

.page-login h1 {
  font-size: 36px;
  text-align: center;
}

.page-login .input-login {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
}

.input-login input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(225, 225, 225, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  color: #fff;
}

.input-login input::placeholder {
  color: #fff;
}

.input-login i {
  position: absolute;
  right: 20px;
  top: 15px;
  transform: translateY(-50);
  font-size: 20px;
}

.page-login .remember-login {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
  font-size: 15px;
}

.remember-login label input {
  accent-color: #fff;
  margin: 3px;
}

.remember-login a {
  color: #fff;
  text-decoration: none;
}

.remember-login a:hover {
  color: #fff;
  text-decoration: underline;
}

.page-login .button {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.page-login .input-login input:focus::placeholder
{
 color: #e91e63;
 font-size: 12px;  
}